---
import { getPosts } from "../../utils";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import BannerImg from "../../../public/banner-alt.webp";

const posts = await getPosts("posts");
---

<Layout title="Leggy Land - All Posts" src={BannerImg} alt="Temporary Banner">
    <a class="button" id="home" href="/">Home</a>

    <div class="header">
        <h1>All Posts</h1>
        <p>Egg Book</p>
    </div>

    <hr>

    <ul role="list" class="project-list">
        {posts.map(project => (
            <Card
                href=`/posts/${project.slug}`
                title={project.data.title}
                body={project.data.description}
            />
        ))}
    </ul>
</Layout>

<style lang="scss">
    #home { margin-bottom: 32px; }
</style>
