---
import { getPosts } from "../../utils";
import Layout from "../../layouts/Layout.astro";
import HomeButton from "../../components/HomeButton.astro";
import Card from "../../components/Card.astro";

const posts = await getPosts("posts");
---

<Layout title="Leggy Land - All Posts">
    <HomeButton />

    <div class="header">
        <h1>All Posts</h1>
        <p>Egg Book</p>
    </div>

    <hr>

    <ul role="list" class="project-list">
        {posts.map(post => (
            <Card {post} base="/posts"/>
        ))}
    </ul>
</Layout>
