{{template "layout.html" .}}

{{define "content"}}

{{template "blocks.notice" props
    "Text" "Images belong to me and the respective artists. Do not repost or use as training data."
}}

<div class="block image-grid">
    {{range $i, $image := .Vars.Art}}
        <button data-img-id="{{$i}}">
            <img src="{{$image.File}}" alt="todo" />
        </button>
    {{end}}
</div>

<dialog id="fullscreen-view" class="fullscreen-view" closedby="any">
    <img src="" alt="" />
</dialog>

<script>
    const fullscreenView = document.querySelector("#fullscreen-view")
    const buttons = document.querySelectorAll(".image-grid button")

    for (const node of buttons) {
        node.addEventListener("click", event => {
            fullscreenView.showModal()

            const src = node.querySelector("img")
            const dst = fullscreenView.querySelector("img")

            dst.src = src.src
        })
    }
</script>

{{end}}
