{{template "layout.html" .}}

{{define "content"}}

{{template "blocks.markdown" props "Markdown" `

Fluffy is a [Maned wolf](https://en.wikipedia.org/wiki/Maned_wolf), he's very
orange, tall and originally doodled in MSPaint. There is not really much more
to say about the character as he's a representation of me.

I've been in the fandom "officially" since 2019, but been known of it/lurking
since as long as I can remember. My first con was NFC 26 and planning to go back
next year; if I win the hotel room fight...

I also have a [Telegram sticker pack](https://t.me/addstickers/FluffyBean).

I don't own a fursuit (yet) but there is some art for you to stare at below!

`}}

{{template "blocks.notice" props
    "Text" "Images belong to me and the respective artists. Do not repost or use as training data."
}}

<div class="block image-grid">
    {{range $i, $file := .Vars.Files}}
        <button data-img-id="{{$i}}" data-artist-id="{{$file.Artist}}">
            <img src="{{$file.Path}}" alt="Art by {{$file.Artist}}" />
        </button>
    {{end}}
</div>

{{template "blocks.image" props
    "Src" "/assets/refsheet.png"
}}

<dialog id="fullscreen-view" class="fullscreen-view" closedby="any">
    <img class="fullscreen-view__image" src="" alt="" />
    <h3 class="fullscreen-view__artist"></h3>
    <ul class="fullscreen-view__socials"></ul>
</dialog>

<script>
    const fullscreenView = document.querySelector("#fullscreen-view")
    const buttons = document.querySelectorAll(".image-grid button")

    const artists = {
        {{range $name, $detail := .Vars.Artists}}
            "{{$name}}": {
                name: "{{$name}}",
                nsfw: {{if .NSFW}}true{{else}}false{{end}},
                socials: [
                    {{range $social, $link := .Socials}}
                        { "name": "{{$social}}", "link": "{{$link}}" },
                    {{end}}
                ],
            },
        {{end}}
    }

    for (const node of buttons) {
        node.addEventListener("click", event => {
            const artist = artists[node.dataset.artistId]
            const image = node.querySelector("img")

            fullscreenView.querySelector(".fullscreen-view__image").src = image.src
            fullscreenView.querySelector(".fullscreen-view__artist").innerText = artist.name

            const ul = fullscreenView.querySelector(".fullscreen-view__socials")
            ul.innerHTML = ""

            for (const social of artist.socials) {
                const li = document.createElement("li")

                const a = document.createElement("a")
                a.setAttribute("href", social.link)
                a.setAttribute("target", "_blank")
                a.innerText = social.name

                li.appendChild(a)
                ul.appendChild(li)
            }

            fullscreenView.showModal()
        })
    }
</script>

{{end}}
