{{template "layout.html" .}}

{{define "content"}}

{{template "blocks.markdown" props "Markdown" `

Fluffy is a [Maned wolf](https://en.wikipedia.org/wiki/Maned_wolf), he's very
orange, tall and originally doodled in MSPaint. There is not really much more
to say about the character as he's a representation of me.

I've been in the fandom "officially" since 2019, but been known of it/lurking
since as long as I can remember. My first con was NFC 26 and planning to go back
next year; if I win the hotel room fight...

I also have a [Telegram sticker pack](https://t.me/addstickers/FluffyBean).

I don't own a fursuit (yet) but there is some art for you to stare at below!

`}}

{{template "blocks.notice" props
    "Text" "Images belong to me and the respective artists. Do not repost or use as training data."
}}

<div class="block image-grid">
    {{range $i, $file := .Vars.Files}}
        <button data-img-id="{{$i}}" data-artist-id="{{$file.Artist}}">
            <img src="{{$file.Path}}" alt="Art by {{$file.Artist}}" />
        </button>
    {{end}}
</div>

{{template "blocks.image" props
    "Src" "/assets/refsheet.png"
}}

<dialog id="fullscreen-view" closedby="any">
    <img class="fullscreen-view__image" src="" alt="" />
    <h3 class="fullscreen-view__artist"></h3>
    <ul class="fullscreen-view__socials"></ul>
</dialog>

<dialog id="nsfw-warning" closedby="any">
    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor"><path d="m40-120 440-760 440 760H40Zm466.5-127.62q9.5-9.61 9.5-23.83 0-14.22-9.62-23.72-9.61-9.5-23.83-9.5-14.22 0-23.72 9.62-9.5 9.62-9.5 23.83 0 14.22 9.62 23.72 9.62 9.5 23.83 9.5 14.22 0 23.72-9.62ZM449.33-352H516v-216h-66.67v216Z"/></svg>

    <p style="margin-top: 0">The following link may contain NSFW content, continue?</p>

    <div class="row">
        <button class="btn nsfw-warning__close" commandfor="nsfw-warning" command="close">I want out!</button>
        <a class="btn nsfw-warning__accept" href="#" target="_blank">Continue</a>
    </div>
</dialog>

<script>
    const HIDE_URL = "portfolio.leggy.dev"

    const fsDialog = document.querySelector("#fullscreen-view")
    const nsfwDialog = document.querySelector("#nsfw-warning")

    const buttons = document.querySelectorAll(".image-grid button")

    const artists = {
        {{range $name, $detail := .Vars.Artists}}
            "{{$name}}": {
                name: "{{$name}}",
                nsfw: {{if .NSFW}}true{{else}}false{{end}},
                socials: [
                    {{range $social, $link := .Socials}}
                        { "name": "{{$social}}", "link": "{{$link}}" },
                    {{end}}
                ],
            },
        {{end}}
    }

    for (const node of buttons) {
        node.addEventListener("click", event => {
            const artist = artists[node.dataset.artistId]
            const image = node.querySelector("img")

            fsDialog.querySelector(".fullscreen-view__image").src = image.src
            fsDialog.querySelector(".fullscreen-view__artist").innerText = artist.name

            const ul = fsDialog.querySelector(".fullscreen-view__socials")
            ul.innerHTML = ""

            for (const social of artist.socials) {
                // Don't link to artists entirely on my more "professional" url
                if (artist.nsfw && window.location.href.includes(HIDE_URL)) {
                    continue
                }

                const li = document.createElement("li")

                const a = document.createElement("a")
                a.setAttribute("href", social.link)
                a.setAttribute("target", "_blank")
                a.innerText = social.name

                if (artist.nsfw) {
                    a.addEventListener("click", event => {
                        event.preventDefault()

                        const link = event.target.getAttribute("href")

                        nsfwDialog.querySelector(".nsfw-warning__accept").setAttribute("href", link)
                        nsfwDialog.showModal()
                    })
                }

                li.appendChild(a)
                ul.appendChild(li)
            }

            fsDialog.showModal()
        })
    }
</script>

{{end}}
