{{template "layout.html" .}}

{{define "content"}}

{{template "blocks.latest_song" props
    "Title" .Vars.LatestSong.Title
    "Album" .Vars.LatestSong.Album
    "Artist" .Vars.LatestSong.Artist
    "Thumbnail" .Vars.LatestSong.Thumbnail
}}

{{template "blocks.markdown" props "Markdown" `

Hey!

My name is Michał, but you'll usually see me going by [Fluffy](/fursona). My primary role in life is roleplaying a
developer working with Svelte and Go. Though I enjoy C and other systems languages too, with the occasional dabbling in
servers and game development.

I also like listening to music and playing games, current game obsessions being Forza Horizon 6 and Marathon.

You can also find me on [Twitter](https://www.twitter.com/fluffybeanUwU), [Bluesky](https://bsky.app/profile/leggy.dev),
[Telegram](https://t.me/Fluffy_Bean) and [GitHub](https://github.com/Fluffy-Bean), and for more serious enquiries please
reach out to me on [Signal](https://signal.me/#eu/oYqG63CO9YcQooF6zPU1MSWnEYk9v0Q-4lO0HBg5uF7ag38lb05PG77WOvKTutNU) or
my email on hi(at)leggy.dev.

Before contacting me, please read [nohello.net](https://nohello.net/en/).

This site and its contents (unless specified) are open source under Mozilla Public License 2.0 and can be found on
[GitHub](https://github.com/Fluffy-Bean/website) and my [mirror](https://git.leggy.dev/Fluffy/WebsiteFluffy).

I use Arch btw.

`}}

{{end}}
