#music {
    padding: 20px;

    width: unset;
    height: unset;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;

    text-decoration: none;
    font-size: 16px;

    border-radius: $radius;

    &:before {
        border-radius: $radius;
    }

    > img {
        width: auto;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        //border-radius: $radius;

        mask-image: linear-gradient(to right, rgba(#fff, 0.5), rgba(#fff, 0) 80%);
        object-fit: cover;
        z-index: +1;
    }

    > ul {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;

        z-index: +2;

        > li {
            list-style: none;
        }
    }
}
