.pill {
    padding: 0 10px;

    width: max-content;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 13px;

    border-radius: 99999px;
    border: 2px solid rgba($light, 0.04);
    background-color: $dark;
    color: $light;

    list-style: none;

    > a {
        color: inherit;
    }

    &.large {
        padding: 0 16px;
        height: 40px;
        font-size: 16px;
    }

    &.size-button {
        padding: 0 20px;
        height: 35px;
        font-size: 14px;
    }
}

// If its a clickable element
a.pill,
button.pill {
    text-decoration: none;

    &:hover,
    &:focus-visible {
        border: 2px solid $accent;
        background-color: rgba($accent, 0.1);
        outline: 0 solid transparent;
    }
}
