@use "vars";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    scrollbar-color: vars.$accent transparent;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: vars.$accent;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: vars.$accent;
    }
}

html {
    min-height: 100vh;

    font-size: 100%;
    font-family: vars.$font-regular;
    font-weight: 420;
    line-height: 1.5;

    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

body {
    padding: 0 16px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #261f1b;
    color: vars.$light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

code *,
pre * {
    font-family: vars.$font-mono !important;
}

img,
picture {
    max-width: 100%;
    display: block;
}
