.section {
    padding-bottom: 32px;

    > h2 {
        padding-bottom: 10px;
    }

    > p {
        padding-bottom: 8px;
    }

    > img {
        border-radius: $radius;
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}
