---
import Layout from "../layouts/Layout.astro";
import HomeButton from "../components/HomeButton.astro";
import GwaGwa from "../assets/fumble.jpg";
---

<Layout title="LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG">
    <HomeButton />

    <div class="header">
        <h1>Maned Wolf Jumpscare</h1>
        <p>GwaGwa</p>
    </div>

    <span id="content-skip" />

    <div class="secrtion">
        <img
            src={GwaGwa.src}
            alt="Two Maned wolfs having a disagreement"
            width="851"
            height="575"
            style="height: auto"
        />
    </div>
</Layout>
