---
import Layout from "../layouts/Layout.astro";
import BannerImg from "../../../public/banner-alt.webp";
---

<Layout title="LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG" src={BannerImg} alt="Temporary Banner">
    <a class="button" href="/" id="home">Home</a>

    <div class="header">
        <h1>Maned Wolf Jumpscare</h1>
        <p>GwaGwa</p>
    </div>

    <hr>

    <img src="/leg.jpg" alt="Two Maned wolfs having a disagreement" />
</Layout>

<style lang="scss">
    #home { margin-bottom: 32px; }
</style>
