---
import Layout from "../layouts/Layout.astro";
import BannerImg from "../../../public/banner-alt.webp";
import HomeButton from "../components/HomeButton.astro";
---

<Layout title="LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG LEG" src={BannerImg} alt="Temporary Banner">
    <HomeButton />

    <div class="header">
        <h1>Maned Wolf Jumpscare</h1>
        <p>GwaGwa</p>
    </div>

    <hr>

    <img src="/leg.jpg" alt="Two Maned wolfs having a disagreement" />
</Layout>
