---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h3>
			{title}
		</h3>
		<p>
			{body}
		</p>
	</a>
	<div class="link-card-corner" />
</li>

<style lang="scss">
	@import "../styles/vars.scss";

	$corner-speed: 0.2s;

	.link-card {
		height: 125px;

		position: relative;

		border-radius: $radius;

		list-style: none;
		overflow: hidden;

		> a {
			padding: 16px;
			height: 100%;
			display: block;

			text-decoration: none;

			border-radius: $radius;
			border: 2px solid $gray;
			background-color: $dark;
			color: $light;
		}

		.link-card-corner {
			width: 40px;
			height: 40px;

			position: absolute;
			bottom: -40px;
			right: -40px;

			border-top-left-radius: $radius;
			border-top: 2px solid $gray;
			border-left: 2px solid $gray;
			background-color: $dark;
			background-image: linear-gradient(135deg, $dark, darken($dark, 1%));
			color: $light;

			box-shadow: -4px -4px 0 rgba(#000, 0);

			transition: right $corner-speed ease-in-out, bottom $corner-speed ease-in-out, box-shadow $corner-speed ease-in-out;
			pointer-events: none;
			overflow: hidden;
			z-index: +3;

			&::after {
				content: '';

				height: 100px;
				width: 100px;

				position: absolute;
				top: -16px;
				left: -16px;

				transform: rotate(-45deg);

				border-top: 2px solid $gray;
				background-color: $dark;

				transition: left $corner-speed ease-in-out, top $corner-speed ease-in-out;
			}
		}

		&:hover, &:focus-within {
			> a {
				/*text-decoration: underline;*/
				outline: none;
			}

			.link-card-corner {
				bottom: 0;
				right: 0;

				box-shadow: -4px -4px 10px rgba(#000, 0.1);

				&::after {
					top: 3px;
					left: 3px;
				}
			}
		}
	}
</style>
