---
---

<a class="button" id="music" href="https://www.last.fm/user/Fluffy_Bean_" target="_blank">
    <img src="/leg.webp" alt="Track cover art" id="music-image"/>
    <ul>
        <li id="music-title">Track Name</li>
        <li id="music-artist">by Artist</li>
        <li id="music-album">on Album</li>
    </ul>
</a>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const request = await fetch("https://lastfm-last-played.biancarosa.com.br/Fluffy_Bean_/latest-song");
        const data = await request.json();

        ( document.querySelector("#music-image") as HTMLImageElement ).src = data["track"]["image"][1]["#text"];
        ( document.querySelector("#music-title") as HTMLParagraphElement ).innerText = `Listening to ${data["track"]["name"]}`;
        ( document.querySelector("#music-artist") as HTMLParagraphElement ).innerText = `by ${data["track"]["artist"]["#text"]}`;
        ( document.querySelector("#music-album") as HTMLParagraphElement ).innerText = `on ${data["track"]["album"]["#text"]}`;
    });
</script>

<style lang="scss">
    @import "../styles/vars.scss";

    #music {
        padding: 16px;

        width: unset;
        height: unset;

        display: flex;
        flex-direction: row;
        justify-content: unset;
        align-items: unset;

        text-decoration: none;

        border-radius: $radius;

        &:before {
            border-radius: $radius;
        }

        > img {
            margin-right: 16px;

            width: 64px;
            height: 64px;

            border-radius: $radius;
        }

        > ul {
            display: flex;
            flex-direction: column;

            > li {
                font-size: 16px;
                list-style: none;
            }
        }
    }

    #music-title {
        font-weight: bold;
    }
</style>