---
import { getCollection } from 'astro:content';

import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

const projects = await getCollection('projects');
---

<Layout title="Leggy Land" src="/banner.webp" alt="Temporary Banner">
    <a class="button" id="back" href="/">Back</a>
    <h1>All Projects</h1>
    <p>Too many, so many</p>

    <hr>

    <ul role="list" class="project-list">
        {projects.map(project => (
            <Card
                href=`/projects/${project.slug}`
                title={project.data.title}
                body={project.data.description}
            />
        ))}
    </ul>
</Layout>

<style lang="scss">
    @import "../../styles/vars.scss";

    .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        gap: 16px;
        padding: 0;
    }

    #back {
        margin-bottom: 32px;
    }
</style>
