<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leggy Land</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <div class="content">
        <div class="ribbon"></div>
        <main>
            <section>
                <div class="area">
                    <h1>Leggy Land</h1>
                    <p>Made with coffee, lots of it.</p>
                </div>
                <div class="supporting">
                    {{template "partials.nav"}}
                </div>
            </section>

            <section>
                {{block "content" .}}{{end}}
            </section>
        </main>
    </div>
</body>
</html>
