<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leggy Land</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/site.css">

    <script src="https://umami.leggy.dev/script.js" data-website-id="e8c4fb4f-6ff2-4179-8873-957d635c862c" defer></script>
</head>
<body>
    <header>
        <div class="block">
            <h1>Leggy Land</h1>
            <p>Made with coffee, lots of it.</p>
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fursona">Fursona</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{block "content" .}}{{end}}
    </main>
</body>
</html>
