---
import "../styles/styles.scss";
import Banner from "../assets/banner.png";

interface Props {
    title: string;
    plugins?: {
        katex?: boolean,
    }
    seo?: {
        description?: string,
        tags?: string[],
    }
}

const { title, plugins, seo } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <title>{title}</title>

        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="keywords" content={seo?.tags ? seo?.tags.join(', ') : "furry, gay, homosegs"} />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={seo?.description ? seo?.description : "Premium Legs only"} />
        <meta property="og:url" content="https://gay.leggy.dev" />
        <meta property="og:type" content="website" />

        <link
            rel="icon"
            type="image/webp"
            href="/src/assets/leg.webp"
        />
        <link
            rel="stylesheet"
            href="https://api.fontshare.com/v2/css?f[]=jet-brains-mono@400&f[]=general-sans@1&display=swap"
        />

        {plugins?.katex && (
            <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
                integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
                crossorigin="anonymous"
            />
            <script
                is:inline
                defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"
                integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd"
                crossorigin="anonymous"
                ></script>
            <script
                is:inline
                defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js"
                integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
                crossorigin="anonymous"
                onload="renderMathInElement(document.body);"
            ></script>
        )}
    </head>
    <body>
        <div class="banner">
            <img
                src={Banner.src}
                alt="Stretch of road leading to cloudy hills with houses in the horizon"
                width="1080"
                height="700"
                loading="eager"
                decoding="async"
            />
        </div>
        <main>
            <slot />
        </main>
    </body>
    <script>
        function update(element: HTMLElement) {
            element.style.top = `${window.scrollY * 0.75 }px`;
            // element.style.transform = `scale(${(window.scrollY * 0.0001) + 1})`;
            // element.style.filter = `blur(${window.scrollY * 0.005}px)`;
        }

        const img = document.querySelector(".banner > img") as HTMLImageElement;
        document.addEventListener("scroll", () => update(img))
        document.addEventListener("DOMContentLoaded", () => update(img))
    </script>
</html>
